<!--The content below is only a placeholder and can be replaced.-->
<div class="c-grid">


  <div class=" classAll" style="height: calc(100vh - 50px)">


    <div class="c1-flex" style="background: #253A57;">
      <!-- logo -->

      <div class="c1-flex">
        <!-- r1  -->
        <div class="c1-flex1">
          <div style="width: 25px;height: 25px;">
            <img src="photoshop.svg" style="margin-right: 3px">
          </div>
          <div style="font-size: medium ; color: white">
            Alert Maintinance - Wizard Mode
          </div>
        </div>

        <div style="display: flex;flex: 1; "></div>
        <div style="align-self:flex-start;"> <button>
            staging - Delta Testing
          </button>

        </div>
        <div style="display: flex;flex: 1;"></div>


      </div>


    </div>


    <div class=" gr1">
      <!-- 2 cols -->

      <div class=" class-border" style="background: rgb(62, 79, 104);">
        <!-- col1 -->
      </div>


      <div class="gr2">
        <!-- col2 -->

        <div class="border-hor" style="background: #98A2AC">

          <!-- rectangle -->




          <div class="box-rect"> 
            <div> 
              {{print}}
              


              
            </div>

          </div>

        </div>



        <div style="background: rgb(190, 201, 212)">

          <!-- buttons  -->

          <title-comp (mainTitle)="getValue($event)">
            
          </title-comp>

          <body-comp>

          </body-comp>


          <color-comp> 
          </color-comp>

        
           <pic-comp>

           </pic-comp> 







        </div>


      </div>


    </div>






  </div>


  <div style="background-color:#213866"></div>


</div>


<router-outlet></router-outlet>